# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# any data file
UCI HAR Dataset/*.*
.zip
.txt
*.zip
*.txt